################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BlogWebApp/.vs
/BlogWebApp/Blog.Core/bin/Debug/netcoreapp2.2
/BlogWebApp/Blog.Core/obj
/BlogWebApp/Services/Blog.Services/obj
/BlogWebApp/Tests/Blog.IntegrationTests/bin/Debug/netcoreapp2.2
/BlogWebApp/Tests/Blog.IntegrationTests/obj
/.vs
/BlogAuthService/AuthService/.vs/AuthService/v16
/BlogAuthService/AuthService/bin/Debug/netcoreapp3.1
/BlogAuthService/AuthService/obj
/BlogAuthService/AuthService.Core/bin/Debug
/BlogAuthService/AuthService.Core/obj
/BlogAuthService/Data/AuthService.Data/bin/Debug
/BlogAuthService/Data/AuthService.Data/obj
/BlogAuthService/Data/AuthService.Data.Core/bin/Debug
/BlogAuthService/Data/AuthService.Data.Core/obj
/BlogAuthService/Data/AuthService.Data.Models/bin/Debug
/BlogAuthService/Data/AuthService.Data.Models/obj
/Shared/Blog.Contracts/bin/Debug/netcoreapp2.2
/Shared/Blog.Contracts/obj
/Shared/Blog.Core/bin/Debug/netcoreapp2.2
/Shared/Blog.Core/obj
