################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Blog/v16
/ApiTest/bin/Debug/netcoreapp3.1/Properties
/ApiTest/bin/Debug/netcoreapp3.1
/ApiTest/obj
