<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Популярні пости</h3>
    <div class="block-21 mb-4 d-flex" *ngFor="let post of posts">
        <a class="blog-img mr-4" [ngStyle]="{'background-image':'url(' + post.imageUrl + ')'}"></a>
        <div class="text">
            <h3 class="heading">
                <a routerLink="/blog/post/{{post.id}}" [innerHTML]="post.title"></a>
            </h3>
            <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> {{post.createdAt | date:'medium' }}</a></div>
                <div><a routerLink="/blog/profile/{{post.authorId}}"><span class="fa fa-user"></span> {{post.author.firstName + " " + post.author.lastName}}</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> {{post.commentsCount}}</a></div>
            </div>
        </div>
    </div>
</div>
