<div class="container" *ngIf="isLoaded">
    <!-- Similar Posts -->
    <div class="similar_posts">

        <!-- Comments -->
        <div class="comments" *ngIf="comments">
            <div class="comments_title">Comments <span>{{comments.length}}</span></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments_container">

                        <ul class="comment_list" *ngIf="comments.length > 0">
                            <li class="comment" *ngFor="let comment of comments | paginate: { itemsPerPage: pageInfo.pageSize, currentPage: pageInfo.pageNumber, totalItems: pageInfo.totalItems }">
                                <div class="comment_body">
                                    <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                        <span><I class="fa fa-3x fa-user-circle"></I></span>
                                        <small class="post_meta">
                                          <a href="#">{{comment.userId !== null ? comment.user.firstName + " " + comment.user.lastName : comment.name}}</a>
                                          <span>{{comment.createdAt}}</span>
                                        </small>
                                    </div>
                                    <div class="comment_content">
                                        <p>{{comment.commentBody}}</p>
                                        <p class="pull-right buttons" *ngIf="loggedIn && comment.Author.Id === user.id">
                                            <button type="button" class="btn btn-sm text-white btn-primary" (click)="editAction(comment)" title="Редагувати">
                                              <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm text-white btn-danger" (click)="deleteAction(comment)" title="Видалити">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-outline-success ml-2"><i class="fa fa-reply"></i> Відповісти</button>
                                        </p>
                                    </div>
                                </div>
                                <!-- Reply - ->
                                  <ul class="comment_list">
                                    <li class="comment">
                                      <div class="comment_body">
                                        <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                          <div class="comment_author_image">
                                            <div>
                                              <img src="images/comment_author_2.jpg" alt="">
                                            </div>
                                          </div>
                                          <small class="post_meta">
                                            <a href="#">Katy Liu</a>
                                            <span>Sep 29, 2017 at 9:48 am</span>
                                          </small>
                                          <button type="button" class="reply_button ml-auto">Reply</button>
                                        </div>
                                        <div class="comment_content">
                                          <p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
                                        </div>
                                      </div>

                                      <!- - Reply - ->
                                      <ul class="comment_list">
                                      </ul>

                                    </li>
                                  </ul>
                                -->
                            </li>
                            <hr>
                        </ul>

                        <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>