<div class="container">
    <div class="row" data-ref="container">
        <div class="col-lg-12">
            <h2 class="text-center" id="form-header">Редагувати пост</h2>
            <form #f="ngForm" [formGroup]="profileForm" (ngSubmit)="edit(f.value)">

                <div class="form-group">
                    <label for="email" tag="" class="optional">
                      Електронна пошта:
                  </label>

                    <input type="email" name="email" id="email" value="" class="form-control" formControlName="email">
                </div>

                @if(user?.emailConfirmed) {
                    <div class="col-12">
                        <div class="success-checkmark">
                            <div class="check-icon">
                                <span class="icon-line line-tip"></span>
                                <span class="icon-line line-long"></span>
                                <div class="icon-circle"></div>
                                <div class="icon-fix"></div>
                                <p class="text-center" style="margin-left: 100px;">Підтверджено</p>
                            </div>
                        </div>
                    </div>
                }

                <a class="btn btn-default" (click)="verifyEmail()">Підтвердити електронну пошту</a>
                <input type="submit" name="submit" id="submit" value="Редагувати" class="btn btn-default">
            </form>
        </div>
    </div>
</div>