<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:35%"><b>Назва:</b></th>
            <th style="width:10%"><b>Кількість переглядів:</b></th>
            <th style="width:10%"><b>Кількість лайків:</b></th>
            <th style="width:10%"><b>Кількість дизлайків:</b></th>
            <th style="width:15%"><b>Дата створення:</b></th>
            <th style="width:20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>
                <a routerLink="/blog/posts/show/{{post.id}}">{{post.title}}</a>
            </td>
            <td>{{post.seen}}</td>
            <td>{{post.likes}}</td>
            <td>{{post.dislikes}}</td>
            <td>12.12.2019</td>
            <td class="actions" data-th="">
                <a class="btn btn-primary" routerLink="/blog/edit"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-sm text-white btn-danger" id="1">
                  <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="4">
                <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
            </td>
        </tr>
    </tfoot>
</table>