<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><b>Пост:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Коментар:</b></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><b>Пост:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Коментар:</b></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let comment of comments">
                <td><a routerLink="['/admin/posts/show', comment.postId]">{{comment.postId}}</a></td>
                <td><a routerLink="['/blog/profile', comment.AuthorId]">{{comment.user?.firstName + " " + comment.user?.lastName}}</a></td>
                <td>{{comment.commentBody}}</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="['/admin/comments/edit', comment.Id]"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" (click)="deleteAction(comment)" data-toggle="modal" data-target="#delete-post">
                      <i class="fa fa-trash"></i>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>