

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
        <img src="blog.ico" width="50px" height="50px">
        <a class="navbar-brand">BlazorBlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" @onclick="ToggleNavMenu">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end @NavMenuCssClass" id="navbarResponsive" @onclick="ToggleNavMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Про нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Контакти</a>
                </li>
                <li class="nav-item"><a class="nav-link"><i class="fa fa-sign-in"></i> Ввійти</a></li>
                <li class="nav-item"><a class="nav-link"><i class="fa fa-user"></i> Зареєструватись</a></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

