<div class="error-404">
    <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
    <h2 class="font-bold">Oops 404! That page can’t be found.</h2>

    <div class="error-desc">
        На жаль, сторінку, яку ви шукаєте, або не знайдено, або її не існує. <br/> Спробуйте оновити сторінку або натисніть кнопку нижче, щоб повернутися на головну сторінку.
        <div><br/>
            <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
            <a href="/" class="btn btn-primary"><span class="fa fa-home"></span> Повернутись на головну</a>
            <a href="http://www.jquery2dotnet.com" class="btn btn-default"><span class="fa fa-envelope"></span> Звязатись з підтримкою </a>
        </div>
    </div>
</div>