<!-- Post Comment -->
<div class="post_comment">
    <div class="post_comment_title">Редагувати коментар</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="post_comment_form_container">
                <form #f="ngForm" [formGroup]="commentForm" (ngSubmit)="edit()">
                    <input [ngStyle]="{'display': (comment.user !== null || comment.user !== undefined) ? 'none' : 'block'}" type="text" class="comment_input comment_input_name" placeholder="Your Name" formControlName="name" required="required">

                    <input [ngStyle]="{'display': (comment.user !== null || comment.user !== undefined) ? 'none' : 'block'}" type="email" class="comment_input comment_input_email" placeholder="Your Email" formControlName="email" required="required">

                    <textarea class="comment_text" placeholder="Your Comment" required="required" formControlName="content">
                    </textarea>

                    <button type="submit" class="comment_button" [disabled]="commentForm.invalid">
                        Редагувати
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
