################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.angular/cache/15.1.3
/dist/blog-angular
/node_modules/.cli-ngcc
/node_modules/@angular/cdk/overlay/_index-deprecated.scss
/node_modules/@angular/cdk/overlay/_index.scss
/node_modules/@angular/cdk/overlay/_index.import.scss
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/index.js
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/index.mjs
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/schema.js
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/schema.json
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/schema.mjs
/node_modules/@ampproject/remapping/dist/types
/node_modules/@ampproject/remapping
/node_modules/@angular/cdk/schematics/ng-update/data/element-selectors.js
/node_modules/@angular/cdk/schematics/ng-update/data/element-selectors.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/css-selectors.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/css-selectors.js
/node_modules/@angular/cdk/schematics/ng-update/data/css-selectors.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/constructor-checks.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/constructor-checks.js
/node_modules/@angular/cdk/schematics/ng-update/data/constructor-checks.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/class-names.js
/node_modules/@angular/cdk/schematics/ng-update/data/class-names.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/attribute-selectors.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/attribute-selectors.js
/node_modules/@angular/cdk/schematics/ng-update/data/attribute-selectors.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/index.js
/node_modules/@angular/cdk/schematics/ng-update/data/index.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/element-selectors.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/input-names.js
/node_modules/@angular/cdk/schematics/ng-update/data/input-names.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/index.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/output-names.js
/node_modules/@angular/cdk/schematics/ng-update/data/output-names.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/method-call-checks.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/method-call-checks.js
/node_modules/@angular/cdk/schematics/ng-update/data/method-call-checks.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/input-names.mjs
/node_modules/zone.js/plugins/async-test/package.json
/node_modules/zone.js/plugins/async-test.min/package.json
/node_modules/__ngcc_entry_points__.json
/node_modules/zone.js/zone_externs.js
/node_modules/zone.js/zone.d.ts
/node_modules/zone.js/README.md
/node_modules/zone.js/package.json
/node_modules/zone.js/LICENSE.wrapped
/node_modules/zone.js/LICENSE
/node_modules/zone.js/CHANGELOG.md
/node_modules/.package-lock.json
/node_modules/.bin/ansi-html.ps1
/node_modules/.bin/ansi-html.cmd
/node_modules/.bin/ansi-html
/node_modules/.bin/acorn.ps1
/node_modules/.bin/acorn.cmd
/node_modules/.bin/acorn
/node_modules/.bin/browserslist.ps1
/node_modules/.bin/browserslist.cmd
/node_modules/.bin/browserslist-lint.ps1
/node_modules/.bin/browserslist-lint.cmd
/node_modules/.bin/browserslist-lint
/node_modules/.bin/browserslist
/node_modules/.bin/autoprefixer.ps1
/node_modules/.bin/autoprefixer.cmd
/node_modules/.bin/autoprefixer
/node_modules/.bin/cssesc.ps1
/node_modules/.bin/cssesc.cmd
/node_modules/.bin/cssesc
/node_modules/.bin/color-support.ps1
/node_modules/.bin/color-support.cmd
/node_modules/.bin/color-support
/node_modules/.bin/image-size.ps1
/node_modules/.bin/image-size.cmd
/node_modules/.bin/image-size
/node_modules/.bin/esvalidate.ps1
/node_modules/.bin/esvalidate.cmd
/node_modules/.bin/esvalidate
/node_modules/.bin/esparse.ps1
/node_modules/.bin/esparse.cmd
/node_modules/.bin/esparse
/node_modules/.bin/esbuild.ps1
/node_modules/.bin/esbuild.cmd
/node_modules/.bin/esbuild
/node_modules/.bin/errno.ps1
/node_modules/.bin/errno.cmd
/node_modules/.bin/errno
/node_modules/.bin/is-docker.ps1
/node_modules/.bin/is-docker.cmd
/node_modules/.bin/is-docker
/node_modules/.bin/installed-package-contents.ps1
/node_modules/.bin/installed-package-contents.cmd
/node_modules/.bin/installed-package-contents
/node_modules/.bin/jsesc.ps1
/node_modules/.bin/jsesc.cmd
/node_modules/.bin/jsesc
/node_modules/.bin/js-yaml.ps1
/node_modules/.bin/js-yaml.cmd
/node_modules/.bin/js-yaml
/node_modules/.bin/lessc.ps1
/node_modules/.bin/lessc.cmd
/node_modules/.bin/lessc
/node_modules/.bin/karma.ps1
/node_modules/.bin/karma.cmd
/node_modules/.bin/karma
/node_modules/.bin/json5.ps1
/node_modules/.bin/json5.cmd
/node_modules/.bin/json5
/node_modules/.bin/node-gyp.ps1
/node_modules/.bin/node-gyp.cmd
/node_modules/.bin/node-gyp
/node_modules/.bin/ngcc.ps1
/node_modules/.bin/ngcc.cmd
/node_modules/.bin/ngcc
/node_modules/.bin/ngc.ps1
/node_modules/.bin/ngc.cmd
/node_modules/.bin/ngc
/node_modules/.bin/ng.ps1
/node_modules/.bin/ng.cmd
/node_modules/.bin/ng-xi18n.ps1
/node_modules/.bin/ng-xi18n.cmd
/node_modules/.bin/ng-xi18n
/node_modules/.bin/ng
/node_modules/.bin/needle.ps1
/node_modules/.bin/needle.cmd
/node_modules/.bin/needle
/node_modules/.bin/nanoid.ps1
/node_modules/.bin/nanoid.cmd
/node_modules/.bin/nanoid
/node_modules/.bin/multicast-dns.ps1
/node_modules/.bin/multicast-dns.cmd
/node_modules/.bin/multicast-dns
/node_modules/.bin/mkdirp.ps1
/node_modules/.bin/mkdirp.cmd
/node_modules/.bin/mkdirp
/node_modules/.bin/mime.ps1
/node_modules/.bin/mime.cmd
/node_modules/.bin/mime
/node_modules/.bin/sass.ps1
/node_modules/.bin/sass.cmd
/node_modules/.bin/sass
/node_modules/.bin/rimraf.ps1
/node_modules/.bin/rimraf.cmd
/node_modules/.bin/rimraf
/node_modules/.bin/resolve.ps1
/node_modules/.bin/resolve.cmd
/node_modules/.bin/resolve
/node_modules/.bin/regjsparser.ps1
/node_modules/.bin/regjsparser.cmd
/node_modules/.bin/regjsparser
/node_modules/.bin/parser.ps1
/node_modules/.bin/parser.cmd
/node_modules/.bin/parser
/node_modules/.bin/pacote.ps1
/node_modules/.bin/pacote.cmd
/node_modules/.bin/pacote
/node_modules/@angular/animations/browser/testing/index.d.ts
/node_modules/@angular/animations/README.md
/node_modules/@angular/cdk/a11y/index.d.ts
/node_modules/@angular/cdk/a11y/_index.scss
/node_modules/@angular/cdk/a11y/_index.import.scss
/node_modules/@angular/cdk/accordion/index.d.ts
/node_modules/@angular/cdk/bidi/index.d.ts
/node_modules/@angular/cdk/coercion/index.d.ts
/node_modules/@angular/cdk/collections/index.d.ts
/node_modules/@angular/cdk/dialog/index.d.ts
/node_modules/@angular/cdk/keycodes/index.d.ts
/node_modules/.bin/blocking-proxy
/node_modules/.bin/babylon.cmd
/node_modules/.bin/babylon
/node_modules/.bin/atob.cmd
/node_modules/.bin/atob
/node_modules/.bin/semver.ps1
/node_modules/.bin/semver.cmd
/node_modules/.bin/semver
/node_modules/.bin/nopt.ps1
/node_modules/.bin/nopt.cmd
/node_modules/.bin/nopt
/node_modules/.bin/tsc.cmd
/node_modules/.bin/tsc
/node_modules/.bin/tree-kill.ps1
/node_modules/.bin/tree-kill.cmd
/node_modules/.bin/tree-kill
/node_modules/.bin/terser.ps1
/node_modules/.bin/terser.cmd
/node_modules/.bin/terser
/node_modules/.bin/webpack
/node_modules/.bin/uuid.ps1
/node_modules/.bin/uuid.cmd
/node_modules/.bin/uuid
/node_modules/.bin/tsserver.ps1
/node_modules/.bin/tsserver.cmd
/node_modules/.bin/tsserver
/node_modules/.bin/tsc.ps1
/node_modules/.bin/which.ps1
/node_modules/.bin/which.cmd
/node_modules/.bin/which
/node_modules/.bin/webpack.ps1
/node_modules/.bin/webpack.cmd
/node_modules/.bin/webpack-dev-server.ps1
/node_modules/.bin/webpack-dev-server.cmd
/node_modules/.bin/webpack-dev-server
/node_modules/@angular/animations
/node_modules/@angular/cdk/clipboard
/node_modules/@angular/cdk/drag-drop/index.d.ts
/node_modules/@angular/cdk/esm2020
/node_modules/@angular/cdk/fesm2015
/node_modules/@angular/cdk/fesm2020
/node_modules/@angular/cdk/layout/index.d.ts
/node_modules/@angular/cdk/listbox
/node_modules/@angular/cdk/menu
/node_modules/@angular/cdk/node_modules
/node_modules/@angular/cdk/observers/index.d.ts
/node_modules/@angular/cdk/overlay/index.d.ts
/node_modules/@angular/cdk/platform/index.d.ts
/node_modules/@angular/cdk/portal/index.d.ts
/node_modules/@angular/cdk/schematics/ng-add/schema.mjs
/node_modules/@angular/cdk/schematics/ng-add/schema.json
/node_modules/@angular/cdk/schematics/ng-add/schema.js
/node_modules/@angular/cdk/schematics/ng-add/package-config.mjs
/node_modules/@angular/cdk/schematics/ng-add/package-config.js
/node_modules/@angular/cdk/schematics/ng-add/package-config.d.ts
/node_modules/@angular/cdk/schematics/ng-add/index.mjs
/node_modules/@angular/cdk/schematics/ng-add/index.js
/node_modules/@angular/cdk/schematics/ng-add/index.d.ts
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop/files/__path__/__name@dasherize@if-flat__
/node_modules/@angular/cdk/schematics/ng-update/data/symbol-removal.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/symbol-removal.js
/node_modules/@angular/cdk/schematics/ng-update/data/symbol-removal.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/property-names.mjs
/node_modules/@angular/cdk/schematics/ng-update/data/property-names.js
/node_modules/@angular/cdk/schematics/ng-update/data/property-names.d.ts
/node_modules/@angular/cdk/schematics/ng-update/data/output-names.mjs
/node_modules/@angular/cdk/schematics/ng-update/html-parsing/elements.mjs
/node_modules/@angular/cdk/schematics/ng-update/html-parsing/elements.js
/node_modules/@angular/cdk/schematics/ng-update/html-parsing/elements.d.ts
/node_modules/@angular/cdk/schematics/ng-update/html-parsing/angular.mjs
/node_modules/@angular/cdk/schematics/ng-update/html-parsing/angular.js
/node_modules/@angular/cdk/schematics/ng-update/migrations
/node_modules/@angular/cdk/schematics/ng-update/typescript/module-specifiers.mjs
/node_modules/@angular/cdk/schematics/ng-update/typescript/module-specifiers.js
/node_modules/@angular/cdk/schematics/ng-update/typescript/literal.mjs
/node_modules/@angular/cdk/schematics/ng-update/typescript/literal.js
/node_modules/@angular/cdk/schematics/ng-update/typescript/literal.d.ts
/node_modules/@angular/cdk/schematics/ng-update/typescript/imports.mjs
/node_modules/@angular/cdk/schematics/ng-update/typescript/imports.js
/node_modules/@angular/cdk/schematics/ng-update/typescript/base-types.mjs
/node_modules/@angular/cdk/schematics/ng-update/typescript/base-types.js
/node_modules/@angular/cdk/schematics/ng-update/upgrade-data.mjs
/node_modules/@angular/cdk/schematics/ng-update/upgrade-data.js
/node_modules/@angular/cdk/schematics/ng-update/upgrade-data.d.ts
/node_modules/@angular/cdk/schematics/ng-update/public-api.mjs
/node_modules/@angular/cdk/schematics/ng-update/public-api.js
/node_modules/@angular/cdk/schematics/ng-update/public-api.d.ts
/node_modules/@angular/cdk/schematics/ng-update/index.mjs
/node_modules/@angular/cdk/schematics/ng-update/index.js
/node_modules/@angular/cdk/schematics/ng-update/index.d.ts
/node_modules/@angular/cdk/schematics/ng-update/find-stylesheets.mjs
/node_modules/@angular/cdk/schematics/ng-update/find-stylesheets.js
/node_modules/@angular/cdk/schematics/ng-update/find-stylesheets.d.ts
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration.mjs
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration.js
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration.d.ts
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration-rule.mjs
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration-rule.js
/node_modules/@angular/cdk/schematics/ng-update/devkit-migration-rule.d.ts
/node_modules/@angular/cdk/schematics/ng-update/devkit-file-system.mjs
/node_modules/@angular/cdk/schematics/ng-update/devkit-file-system.js
/node_modules/@angular/cdk/schematics/ng-update/devkit-file-system.d.ts
/node_modules/@angular/cdk/schematics/update-tool/utils
/node_modules/@angular/cdk/schematics/update-tool
/node_modules/@angular/cdk/schematics/utils/ast/ng-module-imports.js
/node_modules/@angular/cdk/schematics/utils/project-style-file.d.ts
/node_modules/@angular/cdk/schematics/utils/project-main-file.mjs
/node_modules/@angular/cdk/schematics/utils/project-main-file.js
/node_modules/@angular/cdk/schematics/utils/project-main-file.d.ts
/node_modules/@angular/cdk/schematics/utils/project-index-file.mjs
/node_modules/@angular/cdk/schematics/utils/project-index-file.js
/node_modules/@angular/cdk/schematics/utils/project-index-file.d.ts
/node_modules/@angular/cdk/schematics/utils/parse5-element.mjs
/node_modules/@angular/cdk/schematics/utils/get-project.mjs
/node_modules/@angular/cdk/schematics/utils/get-project.js
/node_modules/@angular/cdk/schematics/utils/get-project.d.ts
/node_modules/@angular/cdk/schematics/utils/build-component.mjs
/node_modules/@angular/cdk/schematics/utils/build-component.js
/node_modules/@angular/cdk/schematics/utils/ast.mjs
/node_modules/@angular/cdk/schematics/utils/ast.js
/node_modules/@angular/cdk/schematics/utils/ast.d.ts
/node_modules/@angular/cdk/schematics/utils/parse5-element.js
/node_modules/@angular/cdk/schematics/utils/parse5-element.d.ts
/node_modules/@angular/cdk/schematics/utils/index.mjs
/node_modules/@angular/cdk/schematics/utils/index.js
/node_modules/@angular/cdk/schematics/utils/index.d.ts
/node_modules/@angular/cdk/schematics/utils/html-manipulation.mjs
/node_modules/@angular/cdk/schematics/utils/html-manipulation.js
/node_modules/@angular/cdk/schematics/utils/html-manipulation.d.ts
/node_modules/@angular/cdk/schematics/utils/schematic-options.mjs
/node_modules/@angular/cdk/schematics/utils/schematic-options.js
/node_modules/@angular/cdk/schematics/utils/schematic-options.d.ts
/node_modules/@angular/cdk/schematics/utils/project-tsconfig-paths.mjs
/node_modules/@angular/cdk/schematics/utils/project-tsconfig-paths.js
/node_modules/@angular/cdk/schematics/utils/project-tsconfig-paths.d.ts
/node_modules/@angular/cdk/schematics/utils/project-targets.mjs
/node_modules/@angular/cdk/schematics/utils/project-targets.js
/node_modules/@angular/cdk/schematics/utils/project-targets.d.ts
/node_modules/@angular/cdk/schematics/utils/project-style-file.mjs
/node_modules/@angular/cdk/schematics/utils/project-style-file.js
/node_modules/@angular/cdk/schematics/tsconfig.json
/node_modules/@angular/cdk/schematics/schematics.externs.js
/node_modules/@angular/cdk/schematics/paths.mjs
/node_modules/@angular/cdk/schematics/paths.js
/node_modules/@angular/cdk/schematics/paths.d.ts
/node_modules/@angular/cdk/schematics/package.json
/node_modules/@angular/cdk/schematics/migration.json
/node_modules/@angular/cdk/schematics/index.mjs
/node_modules/@angular/cdk/schematics/index.js
/node_modules/@angular/cdk/schematics/index.d.ts
/node_modules/@angular/cdk/schematics/collection.json
/node_modules/@angular/cdk/scrolling/index.d.ts
/node_modules/@angular/cdk/stepper/index.d.ts
/node_modules/@angular/cdk/table/index.d.ts
/node_modules/@angular/cdk/testing
/node_modules/@angular/cdk/text-field/_index.scss
/node_modules/@angular/cdk/text-field/_index.import.scss
/node_modules/@angular/cdk/text-field/index.d.ts
/node_modules/@angular/cdk/tree/index.d.ts
/node_modules/@angular/cdk/_index.scss
/node_modules/@angular/cdk/text-field-prebuilt.css
/node_modules/@angular/cdk/README.md
/node_modules/@angular/cdk/package.json
/node_modules/@angular/cdk/overlay-prebuilt.css
/node_modules/@angular/cdk/LICENSE
/node_modules/@angular/cdk/index.d.ts
/node_modules/@angular/cdk/a11y-prebuilt.css
/node_modules/@angular/cli/bin
/node_modules/@angular/cli/lib/cli/index.js
/node_modules/@angular/cli/lib/cli/index.d.ts
/node_modules/@angular/cli/lib/config/workspace-schema.js
/node_modules/@angular/cli/lib/config/workspace-schema.d.ts
/node_modules/@angular/cli/lib/config/schema.json
/node_modules/@angular/cli/lib/init.js
/node_modules/@angular/cli/lib/init.d.ts
/node_modules/@angular/cli/src/analytics
/node_modules/@angular/cli/src
/node_modules/@angular/cli/README.md
/node_modules/@angular/cli/package.json
/node_modules/@angular/common/esm2020
/node_modules/@angular/common/fesm2015
/node_modules/@angular/common/fesm2020
/node_modules/@angular/common/locales/extra/ar-OM.d.ts
/node_modules/@angular/common/locales/extra/ar-MR.mjs
/node_modules/@angular/common/locales/extra/ar-MR.d.ts
/node_modules/@angular/common/locales/extra/ar-MA.mjs
/node_modules/@angular/common/locales/extra/ar-MA.d.ts
/node_modules/@angular/common/locales/extra/ar-LY.mjs
/node_modules/@angular/common/locales/extra/ar-LY.d.ts
/node_modules/@angular/common/locales/extra/ar-LB.mjs
/node_modules/@angular/common/locales/extra/ar-LB.d.ts
/node_modules/@angular/common/locales/extra/ar-KW.mjs
/node_modules/@angular/common/locales/extra/ar-KW.d.ts
/node_modules/@angular/common/locales/extra/ar-KM.mjs
/node_modules/@angular/common/locales/extra/ar-KM.d.ts
/node_modules/@angular/common/locales/extra/ar-JO.mjs
/node_modules/@angular/common/locales/extra/ar-JO.d.ts
/node_modules/@angular/common/locales/extra/ar-IQ.mjs
/node_modules/@angular/common/locales/extra/ar-IQ.d.ts
/node_modules/@angular/common/locales/extra/ar-IL.mjs
/node_modules/@angular/common/locales/extra/ar-IL.d.ts
/node_modules/@angular/common/locales/extra/ar-ER.mjs
/node_modules/@angular/common/locales/extra/ar-ER.d.ts
/node_modules/@angular/common/locales/extra/ar-EH.mjs
/node_modules/@angular/common/locales/extra/ar-EH.d.ts
/node_modules/@angular/common/locales/extra/ar-EG.mjs
/node_modules/@angular/common/locales/extra/ar-EG.d.ts
/node_modules/@angular/common/locales/extra/ar-DZ.mjs
/node_modules/@angular/common/locales/extra/ar-DZ.d.ts
/node_modules/@angular/common/locales/extra/ar-DJ.mjs
/node_modules/@angular/common/locales/extra/ar-DJ.d.ts
/node_modules/@angular/common/locales/extra/ar-BH.mjs
/node_modules/@angular/common/locales/extra/ar-BH.d.ts
/node_modules/@angular/common/locales/extra/ar-AE.mjs
/node_modules/@angular/common/locales/extra/ar-AE.d.ts
/node_modules/@angular/common/locales/extra/am.mjs
/node_modules/@angular/common/locales/extra/am.d.ts
/node_modules/@angular/common/locales/extra/ak.mjs
/node_modules/@angular/common/locales/extra/ak.d.ts
/node_modules/@angular/common/locales/extra/agq.mjs
/node_modules/@angular/common/locales/extra/agq.d.ts
/node_modules/@angular/common/locales/extra/af.mjs
/node_modules/@angular/common/locales/extra/af.d.ts
/node_modules/@angular/common/locales/extra/af-NA.mjs
/node_modules/@angular/common/locales/extra/af-NA.d.ts
/node_modules/@angular/common/locales/extra/asa.mjs
/node_modules/@angular/common/locales/extra/asa.d.ts
/node_modules/@angular/common/locales/extra/as.mjs
/node_modules/@angular/common/locales/extra/as.d.ts
/node_modules/@angular/common/locales/extra/ar.mjs
/node_modules/@angular/common/locales/extra/ar.d.ts
/node_modules/@angular/common/locales/extra/ar-YE.mjs
/node_modules/@angular/common/locales/extra/ar-YE.d.ts
/node_modules/@angular/common/locales/extra/ar-TN.mjs
/node_modules/@angular/common/locales/extra/ar-TN.d.ts
/node_modules/@angular/common/locales/extra/ar-TD.mjs
/node_modules/@angular/common/locales/extra/ar-TD.d.ts
/node_modules/@angular/common/locales/extra/ar-SY.mjs
/node_modules/@angular/common/locales/extra/ar-SY.d.ts
/node_modules/@angular/common/locales/extra/ar-SS.mjs
/node_modules/@angular/common/locales/extra/ar-SS.d.ts
/node_modules/@angular/common/locales/extra/ar-SO.mjs
/node_modules/@angular/common/locales/extra/ar-SO.d.ts
/node_modules/@angular/common/locales/extra/ar-SD.mjs
/node_modules/@angular/common/locales/extra/ar-SD.d.ts
/node_modules/@angular/common/locales/extra/ar-SA.mjs
/node_modules/@angular/common/locales/extra/ar-SA.d.ts
/node_modules/@angular/common/locales/extra/ar-QA.mjs
/node_modules/@angular/common/locales/extra/ar-QA.d.ts
/node_modules/@angular/common/locales/extra/ar-PS.mjs
/node_modules/@angular/common/locales/extra/ar-PS.d.ts
/node_modules/@angular/common/locales/extra/ar-OM.mjs
/node_modules/@angular/common/locales/extra/bg.d.ts
/node_modules/@angular/common/locales/extra/bez.mjs
/node_modules/@angular/common/locales/extra/bez.d.ts
/node_modules/@angular/common/locales/extra/bem.mjs
/node_modules/@angular/common/locales/extra/bem.d.ts
/node_modules/@angular/common/locales/extra/be.mjs
/node_modules/@angular/common/locales/extra/be.d.ts
/node_modules/@angular/common/locales/extra/be-tarask.mjs
/node_modules/@angular/common/locales/extra/be-tarask.d.ts
/node_modules/@angular/common/locales/extra/bas.mjs
/node_modules/@angular/common/locales/extra/bas.d.ts
/node_modules/@angular/common/locales/extra/az.mjs
/node_modules/@angular/common/locales/extra/az.d.ts
/node_modules/@angular/common/locales/extra/az-Latn.mjs
/node_modules/@angular/common/locales/extra/az-Latn.d.ts
/node_modules/@angular/common/locales/extra/az-Cyrl.mjs
/node_modules/@angular/common/locales/extra/az-Cyrl.d.ts
/node_modules/@angular/common/locales/extra/ast.mjs
/node_modules/@angular/common/locales/extra/ast.d.ts
/node_modules/@angular/common/locales/extra/bo.d.ts
/node_modules/@angular/common/locales/extra/bo-IN.mjs
/node_modules/@angular/common/locales/extra/bo-IN.d.ts
/node_modules/@angular/common/locales/extra/bn.mjs
/node_modules/@angular/common/locales/extra/bn.d.ts
/node_modules/@angular/common/locales/extra/bn-IN.mjs
/node_modules/@angular/common/locales/extra/bn-IN.d.ts
/node_modules/@angular/common/locales/extra/bm.mjs
/node_modules/@angular/common/locales/extra/bm.d.ts
/node_modules/@angular/common/locales/extra/bg.mjs
/node_modules/@angular/common/locales/extra/bs.d.ts
/node_modules/@angular/common/locales/extra/bs-Latn.mjs
/node_modules/@angular/common/locales/extra/bs-Latn.d.ts
/node_modules/@angular/common/locales/extra/bs-Cyrl.mjs
/node_modules/@angular/common/locales/extra/bs-Cyrl.d.ts
/node_modules/@angular/common/locales/extra/brx.mjs
/node_modules/@angular/common/locales/extra/brx.d.ts
/node_modules/@angular/common/locales/extra/br.mjs
/node_modules/@angular/common/locales/extra/br.d.ts
/node_modules/@angular/common/locales/extra/bo.mjs
/node_modules/@angular/common/locales/extra/ca.d.ts
/node_modules/@angular/common/locales/extra/ca-IT.mjs
/node_modules/@angular/common/locales/extra/ca-IT.d.ts
/node_modules/@angular/common/locales/extra/ca-FR.mjs
/node_modules/@angular/common/locales/extra/ca-FR.d.ts
/node_modules/@angular/common/locales/extra/ca-ES-valencia.mjs
/node_modules/@angular/common/locales/extra/ca-ES-VALENCIA.d.ts
/node_modules/@angular/common/locales/extra/ca-AD.mjs
/node_modules/@angular/common/locales/extra/ca-AD.d.ts
/node_modules/@angular/common/locales/extra/bs.mjs
/node_modules/@angular/common/locales/extra/cgg.d.ts
/node_modules/@angular/common/locales/extra/ceb.mjs
/node_modules/@angular/common/locales/extra/ceb.d.ts
/node_modules/@angular/common/locales/extra/ce.mjs
/node_modules/@angular/common/locales/extra/ce.d.ts
/node_modules/@angular/common/locales/extra/ccp.mjs
/node_modules/@angular/common/locales/extra/ccp.d.ts
/node_modules/@angular/common/locales/extra/ccp-IN.mjs
/node_modules/@angular/common/locales/extra/ccp-IN.d.ts
/node_modules/@angular/common/locales/extra/ca.mjs
/node_modules/@angular/common/locales/extra/cy.d.ts
/node_modules/@angular/common/locales/extra/cs.mjs
/node_modules/@angular/common/locales/extra/cs.d.ts
/node_modules/@angular/common/locales/extra/ckb.mjs
/node_modules/@angular/common/locales/extra/ckb.d.ts
/node_modules/@angular/common/locales/extra/ckb-IR.mjs
/node_modules/@angular/common/locales/extra/ckb-IR.d.ts
/node_modules/@angular/common/locales/extra/chr.mjs
/node_modules/@angular/common/locales/extra/chr.d.ts
/node_modules/@angular/common/locales/extra/cgg.mjs
/node_modules/@angular/common/locales/extra/de-BE.d.ts
/node_modules/@angular/common/locales/extra/de-AT.mjs
/node_modules/@angular/common/locales/extra/de-AT.d.ts
/node_modules/@angular/common/locales/extra/dav.mjs
/node_modules/@angular/common/locales/extra/dav.d.ts
/node_modules/@angular/common/locales/extra/da.mjs
/node_modules/@angular/common/locales/extra/da.d.ts
/node_modules/@angular/common/locales/extra/da-GL.mjs
/node_modules/@angular/common/locales/extra/da-GL.d.ts
/node_modules/@angular/common/locales/extra/cy.mjs
/node_modules/@angular/common/locales/extra/de.d.ts
/node_modules/@angular/common/locales/extra/de-LU.mjs
/node_modules/@angular/common/locales/extra/de-LU.d.ts
/node_modules/@angular/common/locales/extra/de-LI.mjs
/node_modules/@angular/common/locales/extra/de-LI.d.ts
/node_modules/@angular/common/locales/extra/de-IT.mjs
/node_modules/@angular/common/locales/extra/de-IT.d.ts
/node_modules/@angular/common/locales/extra/de-CH.mjs
/node_modules/@angular/common/locales/extra/de-CH.d.ts
/node_modules/@angular/common/locales/extra/de-BE.mjs
/node_modules/@angular/common/locales/extra/dyo.d.ts
/node_modules/@angular/common/locales/extra/dua.mjs
/node_modules/@angular/common/locales/extra/dua.d.ts
/node_modules/@angular/common/locales/extra/dsb.mjs
/node_modules/@angular/common/locales/extra/dsb.d.ts
/node_modules/@angular/common/locales/extra/doi.mjs
/node_modules/@angular/common/locales/extra/doi.d.ts
/node_modules/@angular/common/locales/extra/dje.mjs
/node_modules/@angular/common/locales/extra/dje.d.ts
/node_modules/@angular/common/locales/extra/de.mjs
/node_modules/@angular/common/locales/global/zu.js
/node_modules/@angular/common/locales/extra/el-CY.mjs
/node_modules/@angular/common/locales/extra/ee.d.ts
/node_modules/@angular/common/locales/extra/ee.d.ts
*.mjs
/node_modules/@angular/common/locales/extra/dz.d.ts
/node_modules/@angular/cdk/schematics/ng-add/schema.d.ts
/node_modules/@angular/cdk/schematics/ng-generate/drag-drop
/node_modules/@angular/cdk/schematics/ng-update/html-parsing
/node_modules/@angular/cdk/schematics/ng-update/typescript
/node_modules/@angular/cdk/schematics/utils
/node_modules/@angular/cli
/node_modules/@angular/common
/node_modules/@angular/compiler
/node_modules/@angular
/node_modules/@angular-devkit
/node_modules/@assemblyscript/loader
/node_modules
