<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/fav.png" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <title>@ViewData["Title"] - BlogRazor</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
    CSS
    =============================================
    -->
    <link rel="stylesheet" href="~/css/linearicons.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/hexagons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header class="masthead" style="background-image: url('img/home-bg-v2.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>BlazorBlog</h1>
                        <hr class="hr">
                        <span class="subheading">Цікавий блог про цікаве</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <img src="blog.ico" width="50px" height="50px">
            <a class="navbar-brand">BlazorBlog</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Контакти</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"><i class="fa fa-sign-in"></i> Ввійти</a></li>
                    <li class="nav-item"><a class="nav-link"><i class="fa fa-user"></i> Зареєструватись</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <ul class="socialIcons">
                        <li class="facebook">
                            <a>
                                <i class="fa fa-fw fa-facebook"></i>Facebook
                            </a>
                        </li>
                        <li class="twitter">
                            <a>
                                <i class="fa fa-fw fa-twitter"></i>Twitter
                            </a>
                        </li>
                        <li class="instagram">
                            <a>
                                <i class="fa fa-fw fa-instagram"></i>Instagram
                            </a>
                        </li>
                        <li class="pinterest">
                            <a>
                                <i class="fa fa-fw fa-pinterest-p"></i>Pinterest
                            </a>
                        </li>
                        <li class="vk">
                            <a class="text-white">
                                <i class="fa fa-fw fa-vk"></i>VKontakte
                            </a>
                        </li>
                        <li class="tumblr">
                            <a class="text-white">
                                <i class="fa fa-fw fa-tumblr"></i>Tumblr
                            </a>
                        </li>
                        <li class="linkedin">
                            <a>
                                <i class="fa fa-fw fa-linkedin"></i>Linkedid
                            </a>
                        </li>
                        <li class="google-plus">
                            <a>
                                <i class="fa fa-fw fa-google-plus"></i>Google+
                            </a>
                        </li>
                        <li class="yahoo">
                            <a class="text-white">
                                <i class="fa fa-fw fa-yahoo"></i>Yahoo
                            </a>
                        </li>
                        <li class="skype">
                            <a>
                                <i class="fa fa-fw fa-skype"></i>Skype
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/hexagons.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
