<!-- Post Comment -->
<div class="post_comment">
    <div class="post_comment_title">Post Comment</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="post_comment_form_container">
                <form [formGroup]="commentForm" #comment (ngSubmit)="addComment()">

                    <input [ngStyle]="{'display': (user !== null || user !== undefined) ? 'none' : 'block'}" type="text" class="comment_input comment_input_name" placeholder="Your Name" formControlName="name" required="required" value="" #name>

                    <input [ngStyle]="{'display': user !== null ? 'none' : 'block'}" type="email" class="comment_input comment_input_email" placeholder="Your Email" formControlName="email" required="required" value="" #email>

                    <textarea class="comment_text" placeholder="Your Comment" required="required" formControlName="content" #content>
          </textarea>

                    <button type="submit" class="comment_button" [disabled]="commentForm.invalid">
              Post Comment
          </button>
                </form>
            </div>
        </div>
    </div>
</div>